body {
    font-family: Arial, sans-serif;
}

.container {
    width: 60%;
    margin: auto;
    text-align: center;
}

.screen {
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid rgb(21, 18, 18);
}

.seatGap {
    width: 20px;
    background: #fff;
}

input[type="checkbox"].seats {
    width: 20px;
    height: 20px;
}

.congrats-message {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
